<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Travel Aggregators</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  
  <!-- Favicons -->
  <link href="\static\img\favicon.png" rel="icon">
  <link href="\static\img\apple-touch-icon.png" rel="apple-touch-icon">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
  {% block styles %}
  <!-- Vendor CSS Files -->
  <link href="\static\vendor\aos\aos.css" rel="stylesheet">
  <link href="\static\vendor\bootstrap\css\bootstrap.min.css" rel="stylesheet">
  <link href="\static\vendor\bootstrap-icons\bootstrap-icons.css" rel="stylesheet">
  <link href="\static\vendor\boxicons\css\boxicons.min.css" rel="stylesheet">
  <link href="\static\vendor\glightbox\css\glightbox.min.css" rel="stylesheet">
  <link href="\static\vendor\remixicon\remixicon.css" rel="stylesheet">
  <link href="\static\vendor\swiper\swiper-bundle.min.css" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href="\static\css\style.css" rel="stylesheet">

  {% endblock %}
  <!-- =======================================================
  * Template Name: Arsha
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">ABDA</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link   scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/dashboard">Dashboard</a></li>
              
                <ul>
                  <li><a href="/dashboard">Dashboard</a></li>
                  <li><a href="/story">Story</a></li>
                  <li><a href="/report">Report</a></li>
                </ul>
              </li>
              <li><a href="/story">Story</a></li>
              <li><a href="/report">Report</a></li>
              
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Leading Travel Aggregators</h1>
          <h2>Remember that happiness is a way of travel, not a destination</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBvGGznPMU8PZ6DUhHBcI5qeV2ofjUC6FfIsVW8Iu9Q2LfjKGfqdEF2t32Qd0wdV6ofdVqCMUzln8&usqp=CAU&ec=48665699" style="width: 500px; height: 350px;" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="https://yourchennai.com/wp-content/uploads/2020/05/MakeMyTrip-Logo-3.jpg"  class="img-fluid logo" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="\static\img\clients\Yatra_logo.svg.png" class="img-fluid logo" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="\static\img\clients\og-goibibo.aba291ed.png" class="img-fluid logo" alt="">
          </div>

          

        </div>

      </div>
    </section><!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Welcome to our travel aggregate website!
              We're delighted to introduce ourselves and provide you with an overview of our platform.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> User-Friendly Interface.</li>
              <li><i class="ri-check-double-line"></i> Extensive Search Capabilities.</li>
              <li><i class="ri-check-double-line"></i> Travel Guides and Tips.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Thank you for choosing "ABDA Travel Aggregator" as your travel companion. We can't wait to help you explore the world and create unforgettable memories. Bon Voyage!
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

   
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>As a travel aggregate website, we offer a range of services to assist you in planning and booking your travel arrangements. Here are some of the key services you can expect from our platform.</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-airplane"></i></div>
              <h4><a href="">Flight Search and Booking</a></h4>
              <p>Our website allows you to search for flights based on your preferred dates, destinations and other criteria.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-hospital"></i></div>
              <h4><a href="">Hotel and Accommodation</a></h4>
              <p>Finding the perfect place to stay is essential for a comfortable trip.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-car-front-fill"></i></div>
              <h4><a href="">Car rental services</a></h4>
              <p>If you are in need of transportation during your trip, we offer a car rental services.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-patch-check-fill"></i></div>
              <h4><a href="">Vacation Packages</a></h4>
              <p>For those looking for all in one travel solutions, we provide vacation packages that combine flight, accommodation and other services into a single booking.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

   

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>As a travel aggregatoe website, we bring together comprehensive information from various reliable sources, saving you time and effort in researching multiple platforms.</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">Travels</li>
          <li data-filter=".filter-card">Flights</li>
          <li data-filter=".filter-web">Hotels</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="\static\img\portfolio\894092.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Travel Bus1</h4>
              <p>Travel Bus</p>
              <a href="\static\img\portfolio\portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="\static\img\portfolio\anmol-seth-hDbCjHNdF48-unsplash_da36101b6a5abc1154a246b4efbbbccd_800.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Hotel 3</h4>
              <p>Hotel</p>
              <a href="\static\img\portfolio\anmol-seth-hDbCjHNdF48-unsplash_da36101b6a5abc1154a246b4efbbbccd_800.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="\static\img\portfolio\th (1).jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Travel Bus2</h4>
              <p>Travel Bus</p>
              <a href="\static\img\portfolio\th (1).jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="\static\img\portfolio\Plane-HD-pics.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Flight 2</h4>
              <p>Flight</p>
              <a href="\static\img\portfolio\Plane-HD-pics.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="\static\img\portfolio\1407953244000-177513283.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Hotel 2</h4>
              <p>Hotel</p>
              <a href="\static\img\portfolio\1407953244000-177513283.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="\static\img\portfolio\th.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Travel Bus3</h4>
              <p>Travel Bus</p>
              <a href="\static\img\portfolio\th.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="\static\img\portfolio\thumb-1920-742688.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Flight 1</h4>
              <p>Flight</p>
              <a href="\static\img\portfolio\thumb-1920-742688.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="\static\img\portfolio\th (2).jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Flight 3</h4>
              <p>Flight</p>
              <a href="\static\img\portfolio\th (2).jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="\static\img\portfolio\th (4).jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Hotel 3</h4>
              <p>Hotel</p>
              <a href="\static\img\portfolio\th (4).jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>At ABDA travel aggregator, we are passionate about travel and dedicated to simplifying the process of planning your next adventure. We understand that organizing a trip can be overwhelming, with countless options to consider, from flights and accommodations to activities and local attractions.</p>
        </div>

        <div class="row">

          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="\static\img\team\Aswin Kumar S.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Aswin Kumar S</h4>
                <span>Data Analyst</span>
                <p>I am interested in Data Analytics and Problem Solving</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="\static\img\team\Balaji SS.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Balaji S S</h4>
                <span>Software Developer</span>
                <p>I am interested in Software Development and Data Analytics</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="\static\img\team\Dhanya U.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dhanya U</h4>
                <span>Full Stack Developer</span>
                <p>I am interested in Full Stack Development and Data Analytics</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="\static\img\team\Gokul Hari R.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Gokul Hari R</h4>
                <span>Front-end Developer</span>
                <p>I am interested in Web Development and Data Analytics</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    

    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>We're delighted that you'd like to get in touch with us! Here are the contact details for our travel aggregate website</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Knowledge Institute of Technology, Kakapalayam, Salem.</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>aakash07122002@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+917695988604</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Subscribe to our travel aggregator newsletter and stay updated with the latest news, exclusive deals, and offers!</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>ABDA</h3>
            <p>
              Knowledge Institute of Technology <br><br>
              <strong>Phone:</strong> +917695988604<br>
              <strong>Email:</strong> aakash07122002@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#portfolio">Portfolio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#team">Team</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Data Analytics</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Connect with our social media for latest news, exclusive deals, and offers!</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>ABDA</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">ABDA</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="\static\vendor\aos\aos.js"></script>
  <script src="\static\vendor\bootstrap\js\bootstrap.bundle.min.js"></script>
  <script src="\static\vendor\glightbox\js\glightbox.min.js"></script>
  <script src="\static\vendor\isotope-layout\isotope.pkgd.min.js"></script>
  <script src="\static\vendor\swiper\swiper-bundle.min.js"></script>
  <script src="\static\vendor\waypoints\noframework.waypoints.js"></script>
  <script src="\static\vendor\php-email-form\validate.js"></script>

  <!-- Template Main JS File -->
  <script src="\static\js\main.js"></script>

</body>

</html>